body{
    background-image: url(traval.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0%;

}
.box{
    background-color: white;
   margin-right: 970px; 
   text-align: center;
   margin-left: 970px;
   padding: 40px 30px 40px 30px;
   font-family: sans-serif;
   font-size: 10px;
   border: 1px solid black;
   border-radius: 14px;
   
}
#forgot{
    color: blue;
    display: block;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    font-size: 10px;
}
#mybutton{
    width: 175px;
    background-color: rgb(16, 16, 215);
    color: white;
    border-radius: 7px;
    padding-top: 3px;
    padding-bottom: 3px;
}
#btn{
    border-radius: 5px;
    background-color: rgb(24, 24, 240);
    border-style: 1px solid black;
    color: white;
    margin-right: 5px;
}
#mybtn{
    border-radius: 5px;
    background-color: white;
    border-style: 1px solid black;
    padding-left:5px ;
    padding-right: 5px;
    color: black;
}
#creat{
    font-size: 10px;
    font-weight: bolder;
}
#designed{
    font-size:5px ;
    text-decoration: underline;
}
.mymain{
    border: 2px solid black;
}
